---
layout: base
title: Home
permalink: '/'
heading: Gaming Zone
---

<div class="container-xxl">
    <div class="col-md-9 px-3 mx-auto">
        <div class="text-center mt-20 mb-12">
            <h1 class="display-3 ls-tight">
                <span class="d-inline-flex text-transparent bg-clip-text gradient-bottom-right start-purple-500 end-indigo-400 position-relative">Gaming</span> Zone
            </h1>
            <p class="text-lg font-semibold mt-5 px-lg-32">
                Below 2 games are independently deployed web components.
            </p>
            <div class="mx-sm-n2 mt-7">
                <a href="https://github.com/jitesh-yadav/gaming-zone" class="btn btn-dark" target="_blank">
                    <i class="bi bi-github me-2"></i>
                    <span>See on Github</span>
                </a>
            </div>
        </div>
        <div class="row g-6 g-lg-6">
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Save Pi
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                A simple game where you save PI. Built on Canvas and deployed as an independent Web Component.
                            </p>
                            <footer>
                                <a href="https://jitesh-yadav.github.io/pi-wc/" target="gameFrame" class="font-semibold link-primary">Play -></a>
                                <a href="https://github.com/jitesh-yadav/pi-wc" class="font-semibold link-primary text-right" style="float:right" target="_blank">Source Code (GitHub) -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Snakes & Ladders
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                A classic Snakes & Ladders game. Built on Canvas and deployed as an independent Web Component.
                            </p>
                            <footer>
                                <a href="https://jitesh-yadav.github.io/snake-ladders-wc/" target="gameFrame" class="font-semibold link-primary">Play -></a>
                                <a href="https://github.com/jitesh-yadav/snake-ladders-wc" class="font-semibold link-primary text-right" style="float:right" target="_blank">Source Code (GitHub) -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-6 g-lg-6 mt-5">
            <div class="col-12">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <iframe name="gameFrame" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
